@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap" rel="stylesheet');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #3a5a40   ;
  --secondary-color: #588157 ;
  --accent1-color: #a3b18a;
  --accent2-color: white;

  
  /* change the values below to your chosen font(s) */
  --heading-font: "Rock Salt";
  --paragraph-font: open sans, robato, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #3a5a40;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #3a5a40; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #3a5a40  ;
  --nav-link-color: #3a5a40;
  --nav-background-color: #a3b18a;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #3a5a40;
}



#content {
  max-width: 1600px; margin: 0 auto;}

#hero-msg h1 {
  text-align: center;}

#hero-msg h4 {
  text-align: center;}

#hero-img {
  width: 100%}

#background {
  height: 725px;
  background-color: rgb(179, 169, 154);}
  
body {
  background-color: rgb(131, 131, 161)}

header {
  background-color: rgb(90, 90, 141);}

nav a {
  text-align: center;
  color: black;
  text-decoration: none;}

nav a:hover {
  background-color: black;
  color: white}

main section {
  text-align: center;}

footer {
  background-color: rgb(90, 90, 141);
  color: black;}

footer a {
  color: black;
  text-decoration: none;}

footer a:hover {
  color: aqua;}

footer p {
  font-size: 1.5em}

footer p a:hover {
  text-decoration: underline;}

h4 {
    color: blue}

.logo {
  width: 100px}

.button-box {
  text-align: center;}

.mountains {
  width: 100%}

.book {
  color: black;
  text-decoration: none;
  font-size: 1.3em}

.join {
  color: black;
  text-decoration: none;
  font-size: 1.3em}

.book:hover {
  text-decoration: underline;
  background-color: aqua;}

.join:hover {
  text-decoration: underline;
  background-color: aqua;}

.msg h2 {
  background-color: aqua;}

.msg p {color: black;}

.home-title {
  color: blue;

.icon {
  width: 80px}