
img { width: 75%; display: block; margin: 0 auto; }

# * { border: 2px solid blueviolet; }

# body { text-align: center; }

h1 { text-align: center; }

nav { text-align: center; }

footer { text-align: center; }

main p { width: 75%; margin: 20px auto; text-align: center}